
.shadowLine {
    width: 100%;
    height: 2px;
    background-image: url(shadow_line.png);
}

.btn_menu {
    margin-right: 11%;
    margin-left: 2%;
}

dl ScrollView TextNoData {
	width: 100%;
	height: 10%;
	text-align: center;
	color: #000000;
	font: 30% arial;
}
	
grid no_mark_indication {
    height: 100%;
    width: 6.1%;
	background-color: #00ff00;
}

.main_row {
    width: 100%;
    height: 50%;
    white-space: normal;
    font: 40% Arial;
    margin-top: 0%;
}

.grid vl {
    width: 93.3%;
    height: 100%;
    padding-top: 13%;
    padding-left: 2.7%;
}

grid gray_mark_central; {
    background-image: url(gray_mark.png);
    height: 0%;
    width: 4.1%;
    margin-left: 2%;
    margin-right: 0%;
	vertical-align: central;
}

grid yellow_mark_central; {
    background-image: url(yellow_mark.png);
    height: 0%;
    width: 4.1%;
    margin-left: 2%;
    margin-right: 0%;
	vertical-align: central;
}

grid green_mark_central {
    background-image: url(green_mark.png);
    height: 0%;
    width: 4.1%;
    margin-left: 2%;
    margin-right: 0%;
	vertical-align: central;
}